*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

li,a,button{
    font-family: Kadwa;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%
}