/* Estilo general para todos los elementos */
* {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto total */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
    background-color: transparent; /* Color de fondo transparente por defecto */
}

/* Estilo para los enlaces y botones */
li, a, p{
    font-family: kadwa; /* Tipo de letra */
    font-weight: bold; /* Peso de la fuente */
    font-size: 17px; /* Tamaño de la fuente */
    color: black; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

/* Estilo para el header */
header {
    display: flex; /* Utiliza flexbox para la disposición de los elementos */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alineación vertical */
    padding: 0px 20px; /* Espaciado interno */
    border-bottom: 2px solid black; /* Borde inferior */
}

/* Estilo para el logo */
.logo_ruta {
    cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
    width: 150px; /* Ancho del logo */
    height: max-content; /* Altura automática según el contenido */
    margin-left: 40px;
}

/* Estilo para la lista de enlaces en el menú */
.links {
    list-style: none; /* Elimina los puntos o viñetas de la lista */
}

/* Estilo para los elementos de la lista */
.links li {
    text-align:left;
    position: relative; /* Posicionamiento relativo para los elementos de la lista */
    display: inline-block; /* Alineación horizontal */
    padding: 0px 20px; /* Espacio lateral para los elementos de la lista */
}

/* Estilo para el submenú (opciones de Ingresar) */
.links ul {
    display: none; /* Oculta el submenú inicialmente */
    position: absolute; /* Posicionamiento absoluto respecto al <li> padre */
    top: 100%; /* Se coloca justo debajo del elemento padre */
    left: 0%; /* Alineado a la izquierda */
    border-radius: 20px;
    background: linear-gradient(to bottom, #2C3197, #0E1031);
}

/* Muestra el submenú al pasar el mouse sobre el elemento padre */
.links li:hover ul {
    display: block; /* Muestra el submenú al pasar el mouse */
}

/* Estilo para los enlaces dentro del submenú */
.links ul li a {
    display: block; /* Cada opción ocupa toda la línea */
    padding: 5px 0; /* Espaciado interno */
}

/* Transición suave para los enlaces en el menú */
.links li a {
    transition: all 0.3s ease 0s; /* Transición de 0.3 segundos para cambios de estilo */
}

/* Cambia el color del enlace al pasar el mouse sobre él */
.links li a:hover {
    color: red; /* Cambia el color al pasar el cursor */
}

/* Estilo para el botón "Ingresar" */
.Ingresar {
    padding: 3px 45px; /* Espaciado interno */
    border-radius: 30px; /* Bordes redondeados */
    background-color: #2C3197; /* Color de fondo */
    color: white; /* Color del texto */
}

.submenu{
    color: white;
}

/* MAIN */

/* BUSCADOR */
.buscador{
    background-color: transparent;
    margin: auto;
    width: 35%;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid black;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.buscador input{
    width: 100%;
    color: #7A6F6F;
    font-weight: normal;
    border: none;
}

.buscador i{
    font-size: 20px;
}

/* SLIDER AUTOMATICO */
.slider{
    margin-top: 5px;
    width: 90%;
    height: 65%;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}

.carrusel{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.carrusel img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

/* Conteiner LO MAS VENDIDO*/
.vendido {
    background-color: #FE0008;
    position: relative;
    margin-top: 45px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.vendido span{
    color:#2C3197;
    font-weight: bold;
}

.vendido p {
    padding-left: 80px;
    font-size: 45px;
    font-weight: normal;
    color: white;
}

/* PLATOS */
.productos-conteiner{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto{
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 320px;
    height: 440px;
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Colocar elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 80px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 145px;
    padding: 0px 8px;
}

/* Platos */
.plato{
    background-color: black;
    width: 280px;
    height: 280px;
    position: relative;
}

.plato img{
    max-width: 100%;
    max-height: 100%;
}

.producto p{
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin-bottom: -15px;
    line-height: 2em;
}

.producto .precio{
    font-weight: normal;
}

.producto .agregar{
    background-color: #2C3197;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    font-family: kadwa;
    font-size: 15px;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.producto .agregar:hover{
    background-color:#FE0008;
}

.circulo{
    width: 50px;
    height: 50px;
    position:absolute;
    left: 8px;
    top: 8px;
}

.circulo img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 2px solid #2C3197
}

/* MIRA ESTAS OPCIONES*/
.MiraOpciones{
    margin-top: 45px;
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.MiraOpciones span{
    color:#FE0008;
    font-weight: bold;
}

.MiraOpciones p {
    text-align: right;
    padding-right: 80px;
    font-size: 45px;
    font-weight: normal;
    color: black;
}

/* PLATOS */
.productos-conteiner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.productoRED{
    padding: 10px;
    background-color: #FE0008;
    border-radius: 20px;
    width: 320px;
    height: 440px;
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Colocar elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.productoBLUE{
    padding: 10px;
    background-color: #2C3197;
    border-radius: 20px;
    width: 320px;
    height: 440px;
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Colocar elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.productoRED p,
.productoBLUE p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin-bottom: -15px;
}

.productoRED precio,
.productoBLUE .precio{
    font-weight: normal;
}

.productoRED .agregarRED{
    background-color: #2C3197;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    font-family: kadwa;
    font-size: 15px;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 10px;
}
.productoBLUE .agregarBLUE{
    background-color: #FE0008;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
    font-family: kadwa;
    font-size: 15px;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.productoRED .agregarRED:hover,
.productoBLUE .agregarBLUE:hover{
    background-color: #000000;
}

/* Barra */
.barra-contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.barra {
    height: 12px;
    width: 50%;
    background-color: #2C3197;
    margin-top: 25px;
    clip-path: polygon(0 0,100% 0, 97% 100%,0% 100%);
}

.barra-texto {
    color: #2C3197;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 13px;
}

.nuestrosLocales{
    color: #000000;
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
}

.nuestrosLocales span{
    font-weight: bold;
    color: #FE0008;
}

.logolocal-contenedor {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.logolocal{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logolocal-img{
    width: 230px;
    height: 230px;
}

.logolocal-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.barra-derecha{
    justify-content: flex-end;
    margin-top: 20px;   
}

.barra-derecha .barra{
    height: 12px;
    width: 50%;
    background-color: #FE0008;
    margin-top: 25px;
    clip-path: polygon(3% 0,100% 0, 100% 100%, 0% 100%);   
}

/* NUESTRAS SEDES */
.parrafo-sedes{
    text-align: center;
    font-size: 50px;
    margin-top: 45px;
    color: #000000;
}

.parrafo-sedes span {
    font-weight: bold;
    color: #2C3197;
}

.sedes-contenedor{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sedes-contenedor .sede{
    margin-top: -50px;
    background-color:white;
    width: 650px;
    height: 400px;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    margin-left: -55px;
    margin-right: -55px;
    overflow: hidden;
}

.sede img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}